<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.parseus.codecinfo"
    tools:ignore="ImpliedTouchscreenHardware,UnsupportedChromeOsHardware">

    <uses-feature android:name="android.software.leanback" android:required="true" />

    <application
        android:banner="@drawable/banner"
        tools:remove="android:roundIcon">

        <activity
            android:name="com.parseus.codecinfo.ui.TvMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.parseus.codecinfo.ui.TvCodecDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Leanback"
            android:parentActivityName="com.parseus.codecinfo.ui.TvMainActivity"/>
        <activity android:name="com.parseus.codecinfo.ui.settings.TvSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Preference"
            android:parentActivityName="com.parseus.codecinfo.ui.TvMainActivity" />
        <activity android:name="com.parseus.codecinfo.ui.TvAboutActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Leanback"
            android:parentActivityName="com.parseus.codecinfo.ui.TvMainActivity" />
        <activity android:name="com.parseus.codecinfo.ui.TvSearchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Leanback"
            android:parentActivityName="com.parseus.codecinfo.ui.TvMainActivity" />

    </application>

</manifest>